<div class="text-center pt-5">
    <div class="bg-light form-width mt-5 p-5 rounded">
        <form class="form-signin">
            <img
                class="mb-4"
                src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
                alt=""
                width="72"
                height="72"
            />
            <h1 class="h3 mb-3 font-weight-normal">ODDAJA VLOGE</h1>
            <p class="pb-3">
                Izpolnite spodnja polja in oddajte vlogo, če se želite
                potegovati za izbrano delovno mesto
            </p>
            <label for="inputFirstName" class="sr-only">Ime</label>
            <input
                type="text"
                class="form-control"
                placeholder="Ime"
                [(ngModel)]="jobApplication.FirstName"
                name="inputFirstName"
                required
                autofocus
            />
            <label for="inputLastName" class="sr-only">Priimek</label>
            <input
                type="text"
                class="form-control"
                placeholder="Priimek"
                [(ngModel)]="jobApplication.LastName"
                name="inputLastName"
                required
            />
            <label for="inputAddress" class="sr-only">Naslov</label>
            <input
                type="text"
                class="form-control"
                placeholder="Naslov"
                [(ngModel)]="jobApplication.Address"
                name="inputAddress"
                required
            />
            <label for="inputDescription" class="sr-only">Opis</label>
            <textarea
                class="form-control"
                placeholder="Zakaj ste vi najbolj primerni za izbrano delo"
                [(ngModel)]="jobApplication.Description"
                name="inputDescription"
                required
            ></textarea>
            <button
                class="btn btn-lg btn-primary btn-block"
                type="submit"
                (click)="submit()"
            >
                ODDAJ
            </button>
        </form>
    </div>
</div>
