<div class="text-center pt-sm-5">
    <div class="bg-light form-width p-5 rounded">
        <form
            [formGroup]="jobApplicationForm"
            class="form-signin"
            (ngSubmit)="submit()"
        >
            <h1 class="h3 mb-3 text-uppercase font-weight-bold">
                Oddaja vloge
            </h1>
            <p class="pb-3">
                Izpolnite spodnja polja in oddajte vlogo, če se želite
                potegovati za izbrano delovno mesto
            </p>
            <div class="form-group">
                <label for="inputFirstName" class="sr-only">Ime</label>
                <input
                    type="text"
                    id="inputFirstName"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid': submitted && form.FirstName.errors
                    }"
                    placeholder="Ime"
                    formControlName="FirstName"
                    required
                    autofocus
                />
                <div class="invalid-feedback">
                    Prosimo vnesite vaše ime.
                </div>
            </div>
            <div class="form-group">
                <label for="inputLastName" class="sr-only">Priimek</label>
                <input
                    type="text"
                    id="inputLastName"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid': submitted && form.LastName.errors
                    }"
                    placeholder="Priimek"
                    formControlName="LastName"
                    required
                />
                <div class="invalid-feedback">
                    Prosimo vnesite vaš priimek.
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress" class="sr-only">Naslov</label>
                <input
                    type="text"
                    id="inputAddress"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid': submitted && form.Address.errors
                    }"
                    placeholder="Naslov"
                    formControlName="Address"
                    required
                />
                <div class="invalid-feedback">
                    Prosimo vnesite vaš naslov.
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription" class="sr-only">Opis</label>
                <textarea
                    id="inputDescription"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid': submitted && form.Description.errors
                    }"
                    placeholder="Zakaj ste vi najbolj primerni za izbrano delo"
                    formControlName="Description"
                    required
                    rows="5"
                ></textarea>
                <div class="invalid-feedback">
                    Prosimo vnesite vaš opis.
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                ODDAJ
            </button>
        </form>
    </div>
    <div class="my-3">
        <a (click)="goToLogin()" class="btn btn-link">
            Prijavi se kot administrator
        </a>
    </div>
</div>
