<a
    class="btn btn-primary topBarCreate text-white border-0 shadow-lg"
    title="Odjavi se"
    appTippy
    (click)="logOut()"
>
    <i class="material-icons">power_settings_new</i>
</a>
<a
    class="btn btn-primary topBarAdd text-white border-0 shadow-lg"
    title="Oddajte novo vlogo"
    appTippy
    routerLink="/new"
>
    <i class="material-icons">
        create
    </i>
</a>

<div class="pt-sm-5">
    <div class="bg-light container mt-sm-5 p-5 rounded">
        <h1 class="h1 text-uppercase font-weight-bold">Prejete vloge</h1>
        <div
            *ngIf="dataSource.length == 0"
            class="d-flex align-items-center justify-content-center jumbotron"
        >
            <h5>Oddana ni bila še nobena vloga</h5>
        </div>
        <div>
            <div
                class="jumbotron"
                *ngFor="
                    let application of dataSource
                        | slice
                            : (page - 1) * pageSize
                            : (page - 1) * pageSize + pageSize
                "
            >
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-md">
                                Ime:
                                <p>
                                    {{ application?.FirstName }}
                                </p>
                            </div>
                            <div class="col-md">
                                Priimek:
                                <p>
                                    {{ application?.LastName }}
                                </p>
                            </div>
                            <div class="col-md">
                                Naslov:
                                <p>
                                    {{ application?.Address }}
                                </p>
                            </div>
                            <div class="w-100 my-sm-4">
                                <hr />
                            </div>
                            <div class="col-md">
                                Oceni vlogo:
                                <ngb-rating
                                    [(ngModel)]="application.Rating"
                                    [(rate)]="application.Rating"
                                    (click)="updateRating(application)"
                                ></ngb-rating>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                        Opis:
                        <p>
                            {{ application?.Description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button
                    *ngFor="let num of pages"
                    class="btn border btn-light shadow-sm text-secondary p-1 m-1 rounded"
                    [class]="num === pageSize ? 'bg-primary text-light' : ''"
                    (click)="selectPageSize(num)"
                >
                    {{ num }}
                </button>
            </div>
            <ngb-pagination
                *ngIf="dataSource.length > 0"
                class="col d-sm-flex justify-content-sm-end mt-2 mt-sm-0"
                [collectionSize]="dataSource.length"
                [(page)]="page"
                [pageSize]="pageSize"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
            ></ngb-pagination>
        </div>
    </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
