<div class="text-center pt-5">
    <div class="bg-light form-width mt-5 p-5 rounded">
        <form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Prijava</h1>
            <p class="pb-3">Vpišite vaše uporabniško ime in geslo</p>
            <label for="inputEmail" class="sr-only">Uporabniško ime</label>
            <input
                type="text"
                class="form-control"
                placeholder="Uporabniško ime"
                [(ngModel)]="username"
                name="username"
                required
                autofocus
            />
            <label for="inputPassword" class="sr-only">Geslo</label>
            <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Geslo"
                [(ngModel)]="password"
                name="password"
                required
            />
            <button
                class="btn btn-lg btn-primary btn-block"
                type="submit"
                (click)="login()"
            >
                Prijava
            </button>
        </form>
    </div>
</div>
