<div class="text-center pt-5">
    <div class="bg-light form-width mt-5 p-5 rounded">
        <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="login()">
            <h1 class="h3 mb-3 font-weight-normal">Prijava</h1>
            <p class="pb-3">Vpišite vaše uporabniško ime in geslo</p>
            <div class="form-group">
                <label for="inputUsername" class="sr-only">
                    Uporabniško ime
                </label>
                <input
                    type="text"
                    id="inputUsername"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid': submitted && form.username.errors
                    }"
                    placeholder="Uporabniško ime"
                    formControlName="username"
                    required
                    autofocus
                />
                <div class="invalid-feedback">
                    Prosimo vnesite uporabniško ime.
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Geslo</label>
                <input
                    type="password"
                    id="inputPassword"
                    class="form-control is-invalid"
                    [ngClass]="{
                        'is-invalid': submitted && form.password.errors
                    }"
                    placeholder="Geslo"
                    formControlName="password"
                    required
                />
                <div class="invalid-feedback">
                    Prosimo vnesite geslo.
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">
                Prijava
            </button>
        </form>
    </div>
</div>
